<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Section</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Football Predictions Logo">
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="vip.html">Vip</a></li>
                <li><a href="success.html">Success</a></li>
                <li><a href="contact.html">Contact</a></li>        
            </ul>
        </nav>
    </header>

    <main>
        <section class="success-content">
            <h2>Success</h2>
</div>
<div class="tableHead">
<h3> Teams </h3>
<h3>|</h3>
<h3> Tip </h3>
<h3>|</h3>
<h3> Result </h3>
</div>

<ul class="tableUl">
    <!-- First row -->
    <li class="tableLi" ng-repeat="freebet in freebets">
        <div>
            <div><p> Alaves Getafe </p></div>
            <div><p> 1st Half +0.5 </p></div>
            <div><p> Won ✅️ </p></div>
        </div>
        <hr> <!-- Thin black line -->
    </li>

    <!-- Second row -->
    <li class="tableLi" ng-repeat="anotherbet in anotherbets">
        <div>
            <div><p> Leverkusen Augsburg </p></div>
            <div><p> Home +1.5 </p></div>
            <div><p> Won ✅️ </p></div>
        </div>
        <hr> <!-- Thin black line -->
    </li>

    <!-- Third row -->
    <li class="tableLi" ng-repeat="thirdbet in thirdbets">
        <div>
            <div><p> Dortmund Darmstadt </p></div>
            <div><p> HT/FT - Home </p></div>
            <div><p> Won ✅️ </p></div>
        </div>
        <hr> <!-- Thin black line -->
    </li>

    <!-- Fourth row -->
    <li class="tableLi" ng-repeat="fourthbet in fourthbets">
        <div>
            <div><p> Hoffenheim Munich</p></div>
            <div><p> Away - Win/Draw </p></div>
            <div><p> Lose ❎️ </p></div>
        </div>
        <hr> <!-- Thin black line -->
    </li>

    <!-- Fifth row -->
    <li class="tableLi" ng-repeat="fifthbet in fifthbets">
        <div>
            <div><p> Torino Milan </p></div>
            <div><p> Both Teams To Score </p></div>
            <div><p> Won ✅️ </p></div>
        </div>
        <hr> <!-- Thin black line -->
    </li>
</ul>
            </div>
        </section>
    </main>

    <footer>
        <p> Professor Daniel Technologies &copy; 2024</p>
    </footer>
</body>
</html>